.container {
    margin:auto;
    margin-top: 50px;
    width:300px;
    /* background-color: red; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:5px;
}

.cell {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    background-color: black;
    height:25px;
    /* position:relative; */
    text-align: center;
    color:white;
    font-size:1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* aspect-ratio: 1; */
    padding: 1rem;
}

.keyboard {
    margin-top: 50px;
}

.keyboard-row {
    text-align: center;
}

.key {
    color:white;
    background-color: grey;
    display: inline-block;
    border: 3px;
    padding: 20px;
    margin-bottom:5px;
}

